@model JanSeredynskiLabX.Models.Movie
@{
    ViewBag.Title = "Index";
}

<h2>Dodaj nowy film</h2>
<div>
@using (Html.BeginForm("AddNewMovie", "Movie", FormMethod.Post))
{
    @Html.DisplayNameFor(Model => Model.Name)
    @Html.EditorFor(Model => Model.Name);
    
    @Html.DisplayNameFor(Model => Model.ReleaseDate)
    @Html.EditorFor(Model => Model.ReleaseDate)
    <input type ="submit" value="Dodaj" />
}

</div>

